dn: uid={{ openkrb_user_test }},{{ openkrb_ou_users }},{{ openkrb_domain }}
objectClass: top
objectClass: account
objectClass: posixAccount
objectClass: shadowAccount
cn: {{ openkrb_user_test }}
uid: {{ openkrb_user_test }}
uidNumber: 9999
gidNumber: 100
homeDirectory: /home/{{ openkrb_user_test }}
loginShell: /bin/bash
gecos: {{ openkrb_user_test }} (at) {{ openkrb_domain }}
userPassword: {crypt}x
shadowLastChange: 17058
shadowMin: 0
shadowMax: 99999
shadowWarning: 7